@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/***/

.data-item::-webkit-scrollbar {
    width: 10px;
}

.data-item::-webkit-scrollbar-track {
    background-image: linear-gradient( #96e6a1 100%);
    border-radius: 10px;
}

.data-item::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.18);
    border-left: 0;
    border-right: 0;
    background-color: #96e6a1;
}


/***/

img {
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    line-height: 1.2;
}

.data-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 3em 5em;
}

.title {
    font-size: 2.6em;
    margin-bottom: .5em;
}

.search {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 0.6em;
    max-width: 580px;
    width: 100%;
    margin: 0 auto 1.2em;
}

input[type=search] {
    border: solid 3px #fff;
    border-radius: 60px;
    font-size: 1em;
    outline: solid #fc00;
    padding: .5em;
    transition: all 2s ease-in;
    height: 2.5em;
    width: 100%;
    z-index: 1;
}

.tag {
    font-weight: 600;
    display: inline-block;
    padding: 5px;
    background-color: #fff;
    color: #000
}

#data-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
    gap: 1em;
}

.data-item {
    border: 3px solid #96e6a1;
    border-radius: 10px;
    height: 23.6em;
    overflow-y: scroll;
    padding: .3em;
    background-color: #fff;
}

.data-info {
    padding: 0 .6em .6em;
    color: #000;
    background-color: #fff;
}

.data-item span {
    font-size: 1.2em;
    font-weight: 600;
}

.image {
    display: flex;
    justify-content: center;
    margin-bottom: .6em;
    width: 100%;
    height: 328px;
    overflow: hidden;
    border-radius: 10px;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.custom-btn {
    width: 100%;
    max-width: 180px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    margin: 10px auto;
    text-transform: uppercase;
}


/* 13 */

.btn-13 {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    z-index: 1;
}

.btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #e0e5ec;
    transition: all 0.3s ease;
}

.btn-13:hover {
    color: #000;
}

.btn-13:hover:after {
    top: 0;
    height: 100%;
}

.btn-13:active {
    top: 2px;
}